footer {
  display: flex;
  height:40vh;
  width: auto;
  padding: 10px;
  background-color:  #817526;
  position: relative;
  flex-direction: column;
}

.foot {
  text-align: center;
  color: aliceblue;
}

.foot ul{ 
  position: absolute;
  right: 34%;
  list-style-type: none;
  margin-top: 8vh;
}

.foot ul li{
  display: inline-block;
  padding: 5px 10px;
  right: 10vw;
}

.foot ul li a{
  color: rgb(15, 44, 69);
}

.foot ul li a:hover{
  background-color: #100d0c;
  color: rgb(12, 14, 15);
  opacity: 0.7;
  transition: .4s;
  transition: background-color ease-in-out;
}

.foot p{
  position: absolute;
  color: rgb(15, 44, 69);
  right: 46vw;
}

.company {
  position: flex;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  color: #171414;
}

.copyright {
  position: absolute;
  bottom: 0;
  align-items: center;
  z-index: 1; /* Add this line */
}

.social-icons {
  position: absolute;
  display: table-column;
  align-self: flex-end;
  padding: px;
  color: #171414;
  right: 0;
  bottom: 0;
  list-style-type: none;
  color: rgb(172, 186, 199);
  margin-right: 5vw;
}

.social-icons p{
  margin: 4rem 2rem 2rem ;
}

.logos i{
  padding: 2vh;
}

.company .logo{
  display: flex;
  position: absolute;
  height: 12vh;
  width: 7vw;
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .company .logo {
    display: none;
  }

  .foot ul {
    position: static;
    right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foot ul li{
    display: block;
  }

  .foot p {
    position: static;
    text-align: center;
  }

  .copyright{
    
    display: none;
    align-items: center;
    margin-top: 2px;
  }

  .social-icons {
    position: static;
    right: auto;
    bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logos {
    display: flex;
    justify-content: center;
  }
}
